*{
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  background-color: rgba(0,0,0,0);
}
html,body{
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  cursor: move;
  overflow: hidden;
  background-color: transparent;
  background: rgba(0,0,0,0);
}